<% layout('layouts/boilerplate') %>

    <h1><%= campground.title %></h1>
    <h2><%= campground.location %></h2>
    <img src="<%= campground.image %> " alt="">
    <p><%= campground.description %> </p>
    <p>$<%= campground.price %>/Night </p>
    
    <footer>
      <a href="/campgrounds"><button>Back To Campgrounds</button></a>
      <a href="/campgrounds/new"><button>Add New Campground</button></a>
      <a href="/campgrounds/<%= campground._id %>/edit"><button>Edit Campground</button></a>
    <p>
      <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
      </form>
    </p>
    </footer>
 
